.lateral-bar {
    width: 100px;
    height: 1024px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a img {
        margin: 10px;
        width: 80px;
        height: 50px;
    }
    .hamb__menu {
        display: flex;
        flex-direction: column;
        gap: $bar-gap;
        width: max-content;
        cursor: pointer;
        position: absolute;
        top: 240px;
        left: 32px;
    }
    .hamb__menu::before,.hamb__menu::after,.hamb__menu input {
        content: "";
        width: $bar-width;
        height: $bar-heigth;
        background-color: white;
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity $animation-timing, width $animation-timing, rotate $animation-timing, translate $animation-timing;
    }
    .hamb__menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }
    .hamb__menu:has(input:checked)::before {
        rotate: 45deg;
        translate: 0 calc($bar-heigth / -2);
        width: $x-width;
    }
    .hamb__menu:has(input:checked)::after {
        rotate: -45deg;
        width: $x-width;
        translate: 0 calc($bar-heigth / 2);
    }
    .hamb__menu input:checked {
        opacity: 0;
        width: 0;
    }
    .hamb__menu:has(input:checked) + .over-label__lateral-bar {
        translate: 0;
    }
    .over-label__lateral-bar {
        transition: translate 400ms ease-in-out;
        translate: -100%;
        width: 1903px;
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 0;
        background-color: #479D31;
        img {
            position: absolute;
            top: 220px;
            left: 400px;
        }
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;
            list-style: none;
            justify-content: center;
            font-family: $font-pr_hel;
            padding: 0 40px;
            li {
                font-weight: 800;
                font-size: 65px;
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    @media (max-width:1024px){
        height: 780px;
        .lateral-bar__redes {
            margin-bottom: 100px;
        }
    }
}
.lateral-bar__redes {
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    font-size: 30px;
    margin-bottom: 250px;
    a {
        color: white;
        &:hover {
            color: #479D31;
        }
    }
}
