.navbar {
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    a img {
        width: 90px;
        height: 55px;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
        font-family: $font-pr_hel;
        font-weight: bold;
        font-size: 18px;
        li a {
            color: rgb(223, 215, 215);
            text-decoration: none;
            padding: 5px 20px;
            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }
    .navbar__btn-contc {
        width: 166px;
        height: 59px;
        background-color: #479D31;
        color: white;
        font-size: 19px;
        border-radius: 25px;
    }
}