.bloque1 {
    width: 100%;
    height: 425px;
    position: relative;
    display: flex;
    align-items: end;
}
.text_intro__1 {
    color: white;
    position: absolute;
    left: 227px;
    width: 701px;
    height: 216px;
    font-family: $font-pr_hel;
    h1 {
        font-size: 32px;
        font-weight: lighter;
    }
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 40px;
        font-weight: bolder;
        span {
            color: #479D31;
        }
    } 
}
.bloque2 {
    width: 100%;
    height: 425px;
    display: flex;
    justify-content: end;
}
.text_intro__2 {
    color: white;
    font-family: $font-pr_hel;
    font-size: 20px;
    margin-right: 200px;
    width: 591px;
    height: 198px;
    p {
        margin-top: 25px;
    }
}
.bloque3 {
    width: 100%;
    height: 425px;
    display: flex;
    color: white;
    position: relative;
    left: 227px;
}
.bloque3__text-descrip {
    position: absolute;
    top: 150px;
    font-family: $font-pr_hel;
    span {
        font-size: 25px;
    }
    h2 {
        font-size: 52px;
        font-weight: 800;
    }
}
.bloque3__logo-skills {
    height: 101px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 150px;
    margin-left: 600px;
    font-size: 90px;
    gap: 50px;
}
.bloque4 {
    width: 100%;
    height: 425px;
    display: flex;
    color: white;
    position: relative;
    left: 227px;
}
.bloque4__text-descrip {
    font-family: $font-pr_hel;
    span {
        font-size: 25px;
    }
    h2 {
        font-size: 52px;
        font-weight: 800;
    }
}
.bloque5 {
    width: 100%;
    height: 850px;
    color: white;
    position: relative;
}
.bloque5__position-left {
    position: absolute;
    left: 227px;
    display: flex;
}
.bloque5__text-descrip {
    width: 700px;
    font-family: $font-pr_hel;
    span {
        font-size: 25px;
    }
    h2 {
        font-size: 52px;
        font-weight: 800;
    }
    p {
        font-size: 19px;
        margin-bottom: 20px;
    }
}
.bloque5__data-contact {
    display: flex;
    gap: 15px;
}
.bloque5__data-logos {
    display: inline-block;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 25px;
}
.bloque5__data-info {
    h3 {
        padding-bottom: 22px;
        font-weight: 100;
    }
}
.bloque5__form {
    width: 500px;
    h5 {
        font-family: $font-pr_hel;
        font-size: 18px;
        margin-bottom: 5px;
        
    }
    input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-family: $font-pr_hel;
        border: solid $color-sec 2px;
        padding: 10px;
    }
    textarea {
        width: 100%;
        border-radius: 5px;
        font-family: $font-pr_hel;
        border: solid $color-sec 2px;
        padding: 10px;
    }

}
